<div class="email" ng-repeat="program in programs | orderBy : 'name'">
    <table class="table" ng-init="RateTotal=0">

        <thead class="thead-light">
            <!-- <tr>
                <th scope="col">FirstName</th>
                <th scope="col">StudentName</th>
                <th scope="col">RollNumber</th>
                <th scope="col">getTotal</th>
            </tr> -->
        </thead>
        <tbody>
            <b>Student Result Board</b>
            <th><p><b><i>Student Name</i></b></p></th>
            <th>
                <p><b><i>Roll Number</i></b></p>
            </th>
            <th><p><b><i>Total Marks</i></b></p>
            </th>
            
            <th>
                <p><b><i>Status
            </i></b></p>
            </th>
            <tr>
                
                <td>{{program.name | capitalize}}</td>
                <td>{{program.rollNumber}}</td>
                <td>
                    {{program.marks.Maths + program.marks.English + program.marks.Science}}
                </td>
                

                <!-- <td style="font-weight: 20px; color: red;">{{program.marks.Maths}}</td>
                    <td style="font-weight: 20px; color: red;">{{program.marks.English}}</td>
                    <td style="font-weight: 20px; color: red;">{{program.marks.Science}}</td> -->
            </tr>
            
        </tbody>
    </table>
    
</div>

